<div class="col-xs-10 col-xs-offset-1">
  <h1>About Budgety</h1>
  <p>Budgety - the expense-tracking app that no-one wants! Enter your expense, and see it appear in the growing list of expenses! And, uhm, that's about it.</p>
  <p>Enjoy!</p>
</div>
